.horizPanel {
	display: flex;
	gap: 8px;
	align-items: center;
}

.horizPanel > * {
	margin: 0;
}

.vertiPanel {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.vertiPanel > * {
	margin: 0;
}

* {
	-webkit-tap-highlight-color: #fff6;
	word-wrap: break-word;
}

/* .perspectiveMode {
	background-image: radial-gradient(#151a05 20%, transparent 80%);
	background-size: 60px 60px;
} */
